<div class="title"> <%= @contest.title %></div>
<br />
<div class="description"><%= @contest.description %></div>
<br />
<% if @contest.active_contest? then %> 
  This contest is still active and runs from <%= @contest.start_date.strftime("%m/%d/%Y") %> to <%= @contest.end_date.strftime("%m/%d/%Y") %>
<%else %>
  This contest is complete.  It ran from <%= @contest.start_date.strftime("%m/%d/%Y") %> to <%= @contest.end_date.strftime("%m/%d/%Y") %>
<%end%>
<br />
<%= link_to "Rules", "/pdf/contest/#{@contest.pdf}" %>
<br />
<br />
All Entries for Contest number <%=	 @contest.id%>:<br />
<div class="gallery">
  <% @contest.entries.each do |e| %>
    <%= e.title %> <a href="<%= e.image %>"><img src="/image/entry/<%= e.image %>" class="thumbnail"></a>
    Score: <%= e.votes %>
    <br /><br />
  <% end %>
  <%= link_to "Enter Contest", "/contest/#{@contest.id}/enter" %>
</div>
