<!DOCTYPE html>
<html>
  <head>
    <title>Fab Lab Contests - Powered by Contest Engine</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper">
      <div class="menu">
      <%= link_to "Home", "/" %>
    </div>
      <%= yield %>
    </div>
  </body>
</html>

